li {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  width: 45%;
  background-color: rgba(57, 59, 60, 0.605);
  padding: 16px;
  border: solid 3px black;
}

li img {
  width: 35%;
  margin-bottom: 10px;
}
